<div class="footer">
    <br>
    &copy; Arbeitsgemeinschaft Methoden der empirischen Bildungsforschung<br>
    <a href="https://www.uni-regensburg.de/humanwissenschaften/methoden-empirische-bildungsforschung/kontakt/index.html" target="_blank">Kontakt</a>
    | <a href="https://github.com/datenschauer/coffeeCounter" target="_blank">Projekt auf GitHub</a>
    <br><br>
</div>
</section>

<%- session.isLoggedIn ? '<script src="/js/nav.js"></script>' : '' %>

<script src="/js/info-btn.js"></script>
</body>
</html>
