<section class="main">
    <div class="menu"><span class="material-symbols-outlined">menu</span></div>
    <div class="logo"><a href="/home"><span class="material-symbols-outlined">coffee</span></a></div>
    <h1 class="title">Café Sedanstraße</h1>
    <hr>