<%- include('includes/head.ejs') %>

        <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/slider.css">

<%- include('includes/title.ejs') %>

    <%- include('includes/nav.ejs') %>

    <p>Wie viel Kaffee hast du getrunken?</p>
    <form action="/add-coffee" method="post">
        <label for="coffee" id="coffe-amount">0</label>
        <br>
        <input type="range" id="coffee-slider" name="coffee" min="0" max="10" value="0">
        <br>
        <input type="checkbox" id="milk" name="milk">
        <label for="milk">mit Milch</label>
        <br>
        <button type="submit" class="button disabled" disabled>abschicken</button>
    </form>
</section>
<script>
    const updateCoffeeValue = (value) => {
        const coffeeAmount = document.querySelector('#coffe-amount');
        coffeeAmount.textContent = value;
    }

    const enableButton = () => {
        const button = document.querySelector('button');
        button.classList.remove('disabled');
        button.disabled = false;
    }

    const disableButton = () => {
        const button = document.querySelector('button');
        button.classList.add('disabled');
        button.disabled = true;
    }

    const coffeeSlider = document.querySelector('#coffee-slider');

    coffeeSlider.addEventListener('input', (ev) => {
        const value = ev.target.value;
        updateCoffeeValue(value);
        value > 0 ? enableButton() : disableButton();
    })
</script>
<%- include('includes/end.ejs') %>
