input[type=text] {
    width: 150px;
}
.bubble.user {
    padding: 0;
    font-size: 0.9em;
}
.compressed {
    padding: 0 10px;
}
.compressed > li {
    display: inline-block;
    list-style: none;
}
.segment {
    display: inline-block;
    padding: 0;
}
.button.payment {
    font-size: 0.9rem;
}