body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 230px;
    max-width: 550px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.3em;
    margin: auto;
}
hr {
    max-width: 460px;
    min-width: 200px;
    text-decoration: none;
    border: 1px solid whitesmoke;
}
hr.black {
    border: 1px solid #0c0f19;
    min-width: 300px;
    max-width: 450px;
}
a {
    text-decoration: none;
    color: #287ae1;
}
p, label {
    color: #111123;
}
img {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 530px;
    min-width: 300px;
    border-radius: 3%;
}
.hidden {
    display: none;
}
.main {
    background-color: #7ebeee;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    position: relative;
}
.header {
    display: inline-flex;
    align-items: flex-start;
    height: 75px;
}
.title, .logo, .menu-btn {
    align-self: center;
    color: whitesmoke;
    text-shadow: 0 0 3px #0c0f19;
    font-weight: 500;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.title > h1 {
    margin: 0;
}
.logo {
    font-size: 1.8em;
}
.logo > a {
    text-decoration: none;
    color: inherit;
}
.menu-btn {
    font-size: 1.8em;
    z-index: 99;
}
.menu-btn:hover {
    color: #ff540e;
    cursor: pointer;
}
.menu {
    position: fixed;
    right: 3%;
    z-index: 98;
    width: 75%;
    background-color: rgba(22, 46, 98, 0.93);
    border-radius: 5px;
}
.menu.hidden {
    display: none;
}
.menu > ul {
    text-align: left;
    margin-left: 10px;
    padding-left: 10px;
}
.menu > ul > li {
    list-style: none;
    padding: 7px 0;
}
.menu > ul > li > a {
    color: whitesmoke;
    font-weight: 400;
}
.menu > ul > li > a:hover {
    color: #ff540e;
}
li.hidden {
    display: none;
}
.button {
    font-family: inherit;
    font-size: 1em;
    margin: 20px 0;
    background-color: #ff540e;
    color: whitesmoke;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid antiquewhite;
    /*
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1),
                0 0 0 0 rgba(0, 0, 0, 0.1);
    */
}
.button:hover {
    cursor: pointer;
}
.main {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.material-symbols-outlined {
    font-size: 1.2em;
    vertical-align: text-bottom;
    font-variation-settings:
            'FILL' 0,
            'wght' 500,
            'GRAD' 0,
            'opsz' 48;
 }
.material-symbols-outlined.smaller {
    font-size: 1em;
}
.material-symbols-outlined.link {
    color: whitesmoke;
}
.reg {
    font-size: 0.8em;
    color: whitesmoke;
    padding: 0;
    margin: 3px;
}
span.count {
    color: #ff540e;
    /*text-shadow: 0 0 3px #0c0f19;*/
    font-weight: 500;
}
.bubble {
    align-self: center;
    align-items: center;
    margin: 10px auto;
    background-color: aliceblue;
    border: 1px solid rgba(29,62,125,1);
    border-radius: 5px;
    padding: 15px 5px;
    max-width: 460px;
}
.bubble > p {
    margin: 10px;
    line-height: 150%;
}
.segment {
    padding: 10px 0;
}
#no-account {
    margin-top: 15px;
}
#register {
    margin-bottom: 15px;
}

@media only screen and (min-width: 550px) {
    .menu-btn {
        position: inherit;
        display: flex;
    }
    .menu {
        position: absolute;
        display: flex;
        margin-right: 10px;
        width: 80%;
    }
}

@media only screen and (max-width: 300px) {
    .logo {
        display: none;
    }
    .header {
        margin: 0;
        padding: 0;
    }
    .title {
        font-size: 1.1em;
    }
}
